<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <footer class="footer-section bg-dark text-white mt-5">
      <div class="container">
          <div class="footer-main">
              <div class="row g-5 pt-4">
                  <div class="col-lg-4 col-md-6">
                        <h2>Company</h2>
                          <ul class="nav footer-list d-flex flex-column my-4 ">
    
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm" style="color: #ffffff;"></i> <a class="px-2" href="/about"> About Us </a></li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm" style="color: #ffffff;"></i> <a class="px-2" href="/services"> Services  </a></li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm" style="color: #ffffff;"></i><a class="px-2" href="/packages"> Packages  </a></li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm" style="color: #ffffff;"></i> <a class="px-2" href="/booking"> Booking  </a></li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm" style="color: #ffffff;"></i><a class="px-2" href="/destination">Terms and conditions  </a></li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm" style="color: #ffffff;"></i> <a class="px-2" href="/contact"> Contact Us  </a></li>


                          </ul>
                  </div>

                  <div class="col-lg-4 col-md-6">
                      <h2>Contact</h2>
                      <div class="footer-contact my-4">
                          <p><i class="fa-solid fa-location-dot fa-lg me-2" style="color: #ffffff;"></i>Lal Chowk, Srinagar, Kashmir</p>
                          <p><i class="fa-solid fa-phone fa-lg me-2" style="color: #ffffff;"></i>+91 345 67890</p>
                          <p><i class="fa-solid fa-message fa-lg me-2" style="color: #ffffff;"></i>mail@domain.com</p>
                          <div class="social-icons py-4">
                            <a href="/facebook">  <i class="fa-brands fa-facebook-f fa-lg px-2" style="color: #ffffff;"></i></a>
                           <a href="/X">  <i class="fa-brands fa-twitter fa-lg px-2" style="color: #ffffff;"></i></a>
                           <a href="/instagram">  <i class="fa-brands fa-instagram fa-lg px-2" style="color: #ffffff;"></i></a>
                              
                          </div>
                      </div>
                       
                  </div>
                     <div class="col-lg-4 col-md-6 ">
                      <h2>Services</h2>
                      <div class="footer-services my-4 ">
                           <ul class="nav footer-services-list d-flex flex-column  my-4 ">
    
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm me-3" style="color: #ffffff;"></i>WorldWide Tours</li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm me-3" style="color: #ffffff;"></i>Hotel Reservation </li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm me-3" style="color: #ffffff;"></i>Travel Guides</li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm me-3" style="color: #ffffff;"></i>Event Management</li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm me-3" style="color: #ffffff;"></i>Transportation Services</li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm me-3" style="color: #ffffff;"></i>Honeymoon Packages</li>
                            <li class="mb-2"><i class="fa-solid fa-arrow-right fa-sm me-3" style="color: #ffffff;"></i>Adventure Tours</li>


                          </ul>
                        
                      </div>
                       
                  </div>
                  
                  <hr class="w-100 ">

                  <div class="footer-rights-reserved mb-2 text-center">
                            @Tourist, All Rights Reserved. Designed By Umar farooq
                  </div>
              </div>
          </div>
      </div>
     
</footer>

</body>
</html>


