
<div class="d-flex justify-content-center align-items-center flex-column" style="height: 80vh">
    <div class="hero-heading">
        <h1 class="fw-bold text-center"> {{heading}}</h1>
        
    </div>

    <div class="hero-subheading mt-4 ">
  
    <h3 >  {{subheading}}</h3>

    </div>
   
    
</div>