
<div class="text-white d-flex justify-content-start align-items-end flex-column">
    <div class="hero-heading">
        <h2> {{heading}}</h2>
        
    </div>

    <div class="hero-subheading">
  

    <h5>  {{subheading}}</h5>

    </div>
   
    
</div>