


/* index.css */
.main-container {
    background-image: url('../assets/gallerypic.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}



.body {

min-height: 100vh;
}

