
<div class="main-container py-5"> 

 {{> hero}}
</div>





<section class="contact-section py-5 bg-light">
    <div class="container">
        <h2 class="text-center">Get in Touch</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" />
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="4"></textarea>
                    </div>
                    <button type="submit" class=" mt-3 border-0 rounded text-white px-3 py-2" style="background-color: #86b817;">Send Message</button>
                </form>
            </div>
            <div class="col-md-6 p-5">
                <p>You can reach us at:</p>
                <p>Email: umardev760@gmail.com</p>
                <p>Phone: +123 456 7890</p>
                <p>Address: Kashmir, Srinagar, India</p>
            </div>
        </div>
    </div>
</section>
