


<div class="main-container py-5"> 

 {{> hero}}
</div>



<div class="container about-main">
    <section class="about">
        <div class="row">
            <div class="col-6">
                <img src="assets/blogpic.jpg" class="w-50" alt="">
            </div>
            <div class="col-6">
                <h2>Content</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, distinctio. Nesciunt beatae in similique repellendus soluta adipisci ab repudiandae doloremque ut officia, et, rerum necessitatibus magni quas quaerat modi incidunt ipsa odio repellat eius?</p>
            </div>
        </div>
    </section>
</div>
