<div class="main-container py-5"> 
    {{> hero}}
</div>

<section class="about-section my-5">
    <div class="container about-main">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px; visibility:visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="position-relative h-100">
                    <img src="assets/about.jpg" alt="about-prev" class="img-fluid position-absolute w-100 h-100" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <h6 class="section-title bg-white text-start pe-3 fw-bold">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="fw-bold" style="color: #86b817;">Tourist</span></h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>


                <div class="row">
                    <div class="col-sm-6">
                     
                        <p> <span><i class="fa-solid fa-arrow-right fa-lg me-2"></i></span> First Class Flights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class=""> <span><i class="fa-solid fa-arrow-right fa-lg me-2" ></i></span> Handpicked Hotels</p>
                    </div>
                    <div class="col-sm-6">
                         <p > <span><i class="fa-solid fa-arrow-right fa-lg me-2" ></i></span>     5 Star Accommodations</p>
                    
                    </div>
                    <div class="col-sm-6">
                         <p> <span><i class="fa-solid fa-arrow-right fa-lg me-2"></i></span>    Latest Model Vehicles</p>
                      
                    </div>
                    <div class="col-sm-6">
                          <p> <span><i class="fa-solid fa-arrow-right fa-lg me-2" ></i></span>    150 Premium City Tours</p>
                       
                    </div>
                    <div class="col-sm-6">
                          <p > <span><i class="fa-solid fa-arrow-right fa-lg me-2" ></i></span>   24/7 Service</p>
                      
                    </div>

                    <div class="button-read-main mt-3">
                        <button class="px-5 py-3 button-read border-0 rounded"><a href="#">Read More</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services-section my-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
    <h5 class="section-title bg-white text-center px-3" style="color: #86b817;">SERVICES</h5>
    <h1 class="fw-bold mb-5">Our Services</h1>
        </div>

        <div class="row my-5 g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
                    <div class="card section-card border-0 pt-3">
                        
                         <div class="card-body p-4">
                            <i class="fa-solid fa-globe fa-2xl mb-4" style="color: #86b817;"></i>
                         <h5 class="card-title">WorldWide Tours</h5>
                              <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                               
                          </div>
                    </div>
            </div>
             <div class="col-lg-3 col-sm-6  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
              <div class="card section-card  border-0  pt-3">
                        
                         <div class="card-body p-4">
                            <i class="fa-solid fa-building fa-2xl mb-4" style="color: #86b817;"></i>
                         <h5 class="card-title">Hotel Reservation</h5>
                              <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                               
                          </div>
                    </div>
            </div>
       <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
    <div class="card section-card border-0  pt-3">
        <div class="card-body p-4">
            <i class="fa-solid fa-user fa-2xl mb-4" style="color: #86b817;"></i>
            <h5 class="card-title">Travel Guides</h5>
            <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
        </div>
    </div>
</div>

             <div class="col-lg-3 col-sm-6  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
              <div class="card section-card  border-0  pt-3">
                        
                         <div class="card-body p-4">
                          <i class="fa-solid fa-gear fa-2xl mb-4" style="color: #86b817;"></i>
                         <h5 class="card-title">Event Management</h5>
                              <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                               
                          </div>
                    </div>
            </div>
        </div>
         <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
                    <div class="card section-card  border-0  pt-3">
                        
                         <div class="card-body p-4">
                            <i class="fa-solid fa-globe fa-2xl mb-4" style="color: #86b817;"></i>
                         <h5 class="card-title">WorldWide Tours</h5>
                              <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                               
                          </div>
                    </div>
            </div>
             <div class="col-lg-3 col-sm-6  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
              <div class="card section-card  border-0">
                        
                         <div class="card-body p-4">
                            <i class="fa-solid fa-building fa-2xl mb-4" style="color: #86b817;"></i>
                         <h5 class="card-title">Hotel Reservation</h5>
                              <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                               
                          </div>
                    </div>
            </div>
             <div class="col-lg-3 col-sm-6  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
                <div class="card section-card  border-0  pt-3">
                        
                         <div class="card-body p-4">
                         <i class="fa-solid fa-user fa-2xl mb-4" style="color: #86b817;"></i>
                         <h5 class="card-title">Travel Guides</h5>
                              <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                               
                          </div>
                    </div>
            </div>
             <div class="col-lg-3 col-sm-6  wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
              <div class="card section-card  border-0  pt-3">
                        
                         <div class="card-body p-4">
                          <i class="fa-solid fa-gear fa-2xl mb-4" style="color: #86b817;"></i>
                         <h5 class="card-title">Event Management</h5>
                              <p class="card-text">Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                               
                          </div>
                    </div>
            </div>
        </div>
    
     </div>
</section>

<section class="destination-section my-5">
    <div class="container">
         <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
    <h5 class="section-title bg-white text-center px-3" style="color: #86b817;">DESTINATION</h5>
    <h1 class="fw-bold mb-5">Popular Destination</h1>
        </div>

        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                        <div class="row g-3">
                            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s;animation-name:zoomIn">
                                <a class="position-relative d-block overflow-hidden" href="#">
                                    <img class="img-fluid" src="assets/destination-1.jpg" alt="destination">
                                    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                                    <div class="bg-white fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2" style="color: #86b817;">Thailand</div>
                                </a>
                            </div>
                              <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay:0.3s;animation-name:zoomIn">
                                <a class="position-relative d-block overflow-hidden" href="#">
                                    <img class="img-fluid" src="assets/destination-2.jpg" alt="destination">
                                      <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                                    <div class="bg-white fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2" style="color: #86b817;">Malaysia</div>
                                </a>
                            </div>
                               <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay:0.5s;animation-name:zoomIn">
                                <a class="position-relative d-block overflow-hidden" href="#">
                                    <img class="img-fluid" src="assets/destination-3.jpg" alt="destination">
                                      <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
                                    <div class="bg-white fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2" style="color: #86b817;">Australia</div>
                                </a>
                            </div>
                        </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay:0.7s; animation-name:zoomIn">
                        <a class="position-relative d-block overflow-hidden" href="#">
                            <img src="assets/destination-4.jpg" alt="destination" style="object-fit: cover;">
                              <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
                                    <div class="bg-white fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2" style="color: #86b817;">Indonesia</div>
                        </a>
            </div>
        </div>
    </div>
</section>



<section class="packages-section my-5">
    <div class="container">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
    <h5 class="section-title bg-white text-center px-3" style="color: #86b817;">PACKAGES</h5>
    <h1 class="fw-bold mb-5">Awesome Packages</h1>
        </div>

        <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name:fadeInUp">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/package-1.jpg" alt="package-1">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-location-dot fa-lg me-2" style="color: #86b817;"></i>Thailand</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-calendar-days fa-lg me-2" style="color: #86b817;"></i>3 days</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-user fa-lg me-2" style="color: #86b817;"></i>2 person</small>
                            </div>
                            <div class="text-center p-4">
                                        <h3 class="mb-0">$149.00</h3>
                                        <div class="mb-3">
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                        </div>
                                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                                        <div class="d-flex justify-content-center mb-2">
                                                    <a class="btn btn-sm px-3 border-end package-btn" href="#" >Read More</a>
                                                    <a class="btn btn-sm px-3 border-end package-btn" href="#">Book Now</a>
                                        </div>
                            </div>
                        </div>
                </div>
                 <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name:fadeInUp">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/package-2.jpg" alt="package-2">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-location-dot fa-lg me-2" style="color: #86b817;"></i>Indonesia</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-calendar-days fa-lg me-2" style="color: #86b817;"></i>3 days</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-user fa-lg me-2" style="color: #86b817;"></i>2 person</small>
                            </div>
                            <div class="text-center p-4">
                                        <h3 class="mb-0">$139.00</h3>
                                        <div class="mb-3">
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                        </div>
                                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                                       <div class="d-flex justify-content-center mb-2">
                                                    <a class="btn btn-sm px-3 border-end package-btn" href="#" >Read More</a>
                                                    <a class="btn btn-sm px-3 border-end package-btn" href="#" >Book Now</a>
                                        </div>
                            </div>
                        </div>
                </div>
                 <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name:fadeInUp">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="assets/package-3.jpg" alt="">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-location-dot fa-lg me-2" style="color: #86b817;"></i>Malaysia</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-calendar-days fa-lg me-2" style="color: #86b817;"></i>3 days</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa-solid fa-user fa-lg me-2" style="color: #86b817;"></i>2 person</small>
                            </div>
                            <div class="text-center p-4">
                                        <h3 class="mb-0">$149.00</h3>
                                        <div class="mb-3">
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                            <small class="fa fa-star" style="color: #86b817;"></small>
                                        </div>
                                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                                        <div class="d-flex justify-content-center mb-2">
                                                    <a class="btn btn-sm px-3 border-end package-btn" href="#" >Read More</a>
                                                    <a class="btn btn-sm px-3 border-end package-btn" href="#" >Book Now</a>
                                        </div>
                            </div>
                        </div>
                </div> 
        </div>
    </div>
</section>

<section class="booking-section my-5">
            <div class="container">
                <div class=" booking-main p-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name:fadeInUp">
                        <div class="row g-5">
                            <div class="col-md-6 text-white">
                                <h6 class="text-white text-uppercase">Booking</h6>
                                <h1 class="text-white mb-4">Online Booking</h1>
                                <p class="mb-4">
                                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.
                                </p>
                                 <p class="mb-4">
                                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h1 class="text-white mb-4">Book A Tour</h1>
                                <form action="#" method="post">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name">
                                                <label for="name" style="color: rgb(190, 190, 190);">Your Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="form-floating">
                                                <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email">
                                                  <label for="email" style="color: rgb(190, 190, 190);">Your Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="form-floating date">
                                                <input type="date" class="form-control bg-transparent datetimepicker-input" id="datetime" placeholder="Date & Time">
                                                  <label for="date" style="color: rgb(190, 190, 190);">Date  </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating bg-transparent">
                                                <select id="select1" class="form-select  bg-transparent">
                                                    <option value="1">Destination 1</option>
                                                    <option value="1">Destination 2</option>
                                                    <option value="1">Destination 3</option>
                                                    <option value="1">Destination 4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height:100px"></textarea>
                                                  <label for="request" style="color: rgb(190, 190, 190);">Special Request</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>

</section>


<section class="process-section my-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
    <h5 class="section-title bg-white text-center px-3" style="color: #86b817;">PROCESS</h5>
    <h1 class="fw-bold mb-5">3 Easy Steps</h1>
        </div>


        <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-sm-6 wow fadeInUp text-center pt-4" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">

                    <div class="process-box position-relative  pb-4 pt-5 px-4">
                        <div class="process-icon d-inline-flex align-items-center justify-content-center rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="background-color: #86b817 !important; width: 100px; height:100px">
                            <i class="fa-solid fa-globe fa-2xl text-white" ></i>
                        </div>
                        <h4 class="mt-4 ">Choose A Destination</h4>
                        <hr class="w-25 mx-auto mb-3">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp text-center pt-4" data-wow-delay="0.2s" style="visibility: visible; animation-delay:0.2s; animation-name:fadeInUp">

                    <div class="process-box position-relative pb-4 pt-5 px-4">
                        <div class="process-icon d-inline-flex align-items-center justify-content-center rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="background-color: #86b817 !important; width: 100px; height:100px">
                            <i class="fa-solid fa-dollar-sign fa-2xl text-white" ></i>
                        </div>
                        <h4 class="mt-4 ">Pay Online</h4>
                        <hr class="w-25 mx-auto mb-3">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                      <div class="col-lg-4 col-sm-6 wow fadeInUp text-center pt-4" data-wow-delay="0.3s" style="visibility: visible; animation-delay:0.3s; animation-name:fadeInUp">

                    <div class="process-box position-relative  pb-4 pt-5 px-4">
                        <div class="process-icon d-inline-flex align-items-center justify-content-center rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="background-color: #86b817 !important; width: 100px; height:100px">
                            <i class="fa-solid fa-plane fa-2xl text-white" ></i>
                        </div>
                        <h4 class="mt-4 ">Fly Today</h4>
                        <hr class="w-25 mx-auto mb-3">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
        </div>
    </div>
</section>


<section class="testimonial-section my-5">
    <div class="container">
          <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay:0.1s; animation-name:fadeInUp">
    <h5 class="section-title bg-white text-center px-3" style="color: #86b817;">TESTIMONIAL</h5>
    <h1 class="fw-bold mb-5">Our Clients Say!!!</h1>
        </div>
    </div>
</section>





