<div class="login-main container my-5">
            <h1 class="text-center">Login</h1>




<form action="/user/login" method="POST" class="form bg-light rounded my-5">
            
            <input class="form-control mb-3" type="email" name="email" placeholder="Enter your email">       
            <input class="form-control mb-3" type="password" name="password" placeholder="Enter your password">
            {{#if message}}

            <div>  <strong>{{message}} </strong> </div>

            {{/if}}
           <button type="submit" class="px-4 py-2 border-0 rounded" style="background-color: #86b817; color:white; ">Login</button>
</form>

<div class="account-already px-5 ">
      <p>Not Registered yet <span><a href="/signup">Register</a></span></p>
</div>
</div>