<div class="login-main container my-5">
            <h1 class="text-center">Login</h1>

{{#if message}}

<div> {{message}}</div>

{{/if}}


<form class="form bg-light rounded my-5">
            
            <input class="form-control mb-3" type="email" placeholder="Enter your email">
           
            <input class="form-control mb-3" type="password" placeholder="Enter your password">
            <button type="submit" class="btn btn-info">Login</button>
</form>
</div>